.flashcard-front {
    font-size: 25px;
    position:fixed;
    width: 68%;
    margin-left: 16%;
    margin-right: 16%;
    
}

.flashcard-chinese {
    font-size: 55px;
}

.english {
    text-indent: 10%;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 22px;
}

.pinyin {
    font-size: 30px;
    font-weight: bold;
}

.chinese {
    font-size: 25px;
}


.card-head {
    height: 30px;
    text-align: left; 
    background-color:lightblue; 
    font-size: 20px;
}

.mark-button{
    height: 100px;
    width: 100%;
}

.end-button{
    width: 280px;
    height:130px;
    margin-left: 4%;
    margin-right: 4%;
}